body{
    background-color: aquamarine;
    text-align: center;
}

div{
    text-align: center;
}

#main-menu{
    list-style-type: none;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
}

.menu-item{
    border: 2px solid black;
    padding: 4px;
    margin: 1px;
    background-color: blueviolet;
}

.menu-item:hover{
    background-color: rgb(203, 156, 247);
}